**/*.jpg
**/*.png
**/*.docx
**/*.xlsx
**/*.pptx
**/*.pdf
**/*.bmt
**/*.bmp
**/*.mp4
**/*.zip
**/*.txt
**/*.exe
**/*.ino
**/*.sch
**/*.BMT
**/*.BMP
**/*.brd
**/*.b##
**/*.s##

!diploma_thesis.docx
!diploma_thesis.pdf
!mereni.xlsx